version: '3.8'

services:
  db:
    image: postgres
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: booksanon
      DB_PORT: ${DB_PORT}
    volumes:
      - ${POSTGRES_VOLUME_PATH}:/var/lib/postgresql/data
    ports:
      - "5432:{DB_PORT}"

  app:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      HOST: ${HOST}
      PORT: ${PORT}
      WORKERS: ${WORKERS}
    ports:
      - "8000:${PORT}"
    depends_on:
      - db

  huey:
    build:
      context: .
      dockerfile: Dockerfile
    command: huey_consumer.py src.server.tasks.huey --workers=1
    depends_on:
      - db
