<article class="book-review-container">
  <header>
    <h3>
      <a href="/book/{{ book.id }}">{{ book.title }}</a> By
      {% for author in book.authors %}
        <a href="/author/{{ author.id }}">{{ author.name }}</a
        >{% if not loop.last %}
          ,
        {% endif %}
      {% endfor %}
    </h3>
  </header>
  <div class="book-container">
    <div class="book-col-container">
      <div class="col1">
      <section class="review-img-wrapper">
        {% if book.cover_id %}
          <a href="/book/{{ book.id }}"
            ><img
              src="https://covers.openlibrary.org/b/id/{{ book.cover_id }}-M.jpg"
              alt="Book cover"
              loading="lazy"
          /></a>
        {% endif %}
      </section>
      </div>

      <div class="col2>
      <section class="book-metadata">
        <div class="review-meta-item">
          <span>
            <strong>First published:</strong>{{ book.first_publish_year }}</span
          >
        </div>

        <div class="review-meta-item">
          <span><strong>Pages:</strong>{{ book.number_of_pages_median }}</span>
        </div>
      </div>
    </div>

        <div class="review-meta-item">
          <span><strong>Publishers:</strong></span>
          <div class="meta-list">
            {% set pubs = book.publishers_display %}
            {% if pubs|length > 10 %}
              {{ pubs[:10]|join(', ') }}
              <details class="inline-details">
                <summary>see more</summary>
                {{ pubs[10:]|join(', ') }}
              </details>
            {% elif pubs %}
              {{ pubs|join(', ') }}
            {% else %}
              Unknown publisher
            {% endif %}
          </div>
        </div>

        <div class="review-meta-item">
          <span><strong>OpenLib Tags:</strong></span>
          <div class="meta-list">
            <span>
              {% set tags = book.tags_display %}
              {% if tags|length > 10 %}
                {{ tags[:10]|join(', ') }}
                <details class="inline-details">
                  <summary>see more</summary>
                  {{ tags[10:]|join(', ') }}
                </details>
              {% elif tags %}
                {{ tags|join(', ') }}
              {% else %}
                No tags
              {% endif %}
            </span>
          </div>
        </div>
        <div class="review-meta-item">
          <div class="meta-list">
            <span>
              {% for link in book.link_outs %}
                <a href="{{ link.url }}">{{ link.text }}</a
                >{% if not loop.last %},{% endif %}
              {% endfor %}
            </span>
          </div>
        </div>
      </section>
  <footer class="book-review-footer">
    <small>First added: {{ book.created_at.strftime('%Y-%m-%d %H:%M') }}</small>
  </footer>
</article>
