/* fonts and global styles */

:root {
  --gray-accent: #e8e8e8;
  --dark-gray-accent: #9a9a9a;
  --black-font: #222;
  --white-bg: #fff;
  --blue-accent: #1E5399;
  --dark-blue-accent: #133869;
}

html {
  font-family: Helvetica, Arial, sans-serif, system-ui;
  color: var(--black-font);
}

body {
  margin: 0 auto;
  line-height: 1.5;
  padding: 0.25em;
  min-height: 100vh;
  font-size: 1em;
}

main {
  margin: 0 auto;
  max-width: 50em;
}

a {
  color: var(--blue-accent);
  text-decoration: none;
}

a:hover {
  color: var(--dark-blue-accent);
  text-decoration: underline;
}

button, select {
  background: var(--gray-accent);
  border: 1px solid var(--dark-gray-accent);
  border-radius: 4px;
  padding: 0.5rem 0.8em;
  margin: 0.2em;
  cursor: pointer;
}

/* enable smooth scrolling */
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

.search-box {
  border: 2px solid var(--gray-accent);
  border-radius: 8px;
  box-sizing: border-box;
  padding: 12px;
  width: 220px;
}

.hidden {
  display: none !important;
}

/* nav bar */

.nav-bar {
  position: sticky;
  top: 0;
  padding: 1rem;
  z-index: 1000;
  box-shadow: 0 2px 4px var(--gray-accent);
  background-color: var(--white-bg);
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-brand {
  font-size: 1.8rem;
  font-family: "Lucida Handwriting", cursive;
  color: var(--black-font);
  text-decoration: none;
}

.nav-menu {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: var(--black-font);
  text-decoration: none;
  padding: 0.25rem;
  display: inline-block;
}

/* .nav-link:hover {
  color: var(--black-font);
  text-decoration: underline;
}
*/

.nav-toggle {
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.nav-toggle .icon-bar {
  width: 100%;
  height: 3px;
  background-color: var(--black-font);
}

/* Responsive menu behavior */
@media (width <= 600px) {
  .nav-container {
    flex-direction: column;
    gap: 1rem;
  }

  .nav-bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-toggle,
  .nav-search {
    padding: 0.2rem;
    margin: 0.2rem;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    background: var(--white-bg);
    border: 2px solid var(--gray-accent);
    border-radius: 8px;
    width: 200px;
    padding: 1rem;
  }

  .nav-menu.open {
    display: flex;
  }

  .nav-toggle {
    display: flex;
  }
}

/* loading wheel */

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255 255 255 / 50%);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 48px;
  height: 48px;
  border: 5px solid var(--gray-accent);
  border-bottom-color: var(--dark-gray-accent);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* book display */

.meta-item {
  display: flex;
  gap: 0.25rem;
  align-items: baseline;
}

.meta-list,
.tooltip {
  font-size: 0.75em;
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.book-card p,
.book-card h3 {
  line-height: 1;
  padding: 0.2rem;
  margin: 0 auto;
}

.book-card {
  border: 2px solid var(--gray-accent);
  border-radius: 8px;
  display: flex;
  text-align: center;
  justify-content: center;
  max-width: 100%;
  flex-wrap: wrap;
  padding: 1rem;
}

.book-meta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 60%;
  gap: 0.2rem;
}

.img-wrapper {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 40%;
}

.img-wrapper img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.book-card button {
  align-self: center;
  width: auto;
  margin-top: 1rem;
}

.link-outs {
  margin-top: 0.5rem;
}

.link-outs ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

/* styles for book reviews */

/* add styles to main section ids */
#search, #results, #review-form {
  margin: 2em;
}

.search-form-container {
  display: flex;
  align-items: center;
}

.review-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-provider {
  margin-right: 2em;
}

.search-field-container {
  margin-bottom: 0px;
  margin-top: 5px;
}

.review-header {
  margin-bottom: 0.2em;
}

.review-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.review-img-wrapper img {
  width: 100%;
  max-height: 160px;
  height: auto;
  border-radius: 4px;
}

.book-review-container {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  justify-content: center;
  max-width: 100%;
  border: 2px solid var(--gray-accent);
  border-radius: 8px;
  margin: 2em;
  padding: 1rem;
}

.book-review-container header {
  padding: 1rem;
}

.book-review-container header h3 {
  margin: 0;
  line-height: 1.2;
}

.book-metadata {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  margin: 1em;
  padding: 4px;
}

.col1 {
  max-width: 40%;
  display: flex;
  flex-direction: column;
}

.col2 {
  display: flex;
  flex-direction: column;
  max-width: 60%;
}

.book-review-meta-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  max-width: 100%;
  text-align: left;
}

.review-meta-item {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: baseline;
}

.review-content {
  white-space: pre-line; /* preserve paragraph breaks */
  margin-top: 0;
  display: block;
}

.review-content-snippet {
    max-height: 25em;
    overflow: hidden;
}

.review-content-expanded {
  max-height: none;
}

.review-content-container {
    border: 2px solid var(--gray-accent);
    border-radius: 8px;
    padding: 8px;
    margin: 2em;
    padding: 1rem;
}

.book-cover {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 40%;
}

.book-review-footer {
  margin-top: auto;
  padding-top: 1rem;
  text-align: center;
}

@media (width <= 600px) {
  .col1,
  .col2 {
    max-width: 100%;
  }

  .book-review-meta-container {
    flex-direction: column;
  }

  .book-review-container,
  .review-content-container {
    margin: 0.25em;
  }

  .book-review-meta-container {
    gap: 0;
  }
}
