*,
*::before,
*::after {
  box-sizing: border-box;
}

/* fonts and background */

html {
  font-family: "Helvetica", "Arial", sans-serif, system-ui;
}

body {
  margin: 0 auto;
  max-width: 70em;
  line-height: 1.5;
  padding: 0.25em 0.25em;
  min-height: 100vh;
  font-size: 1em;
}

.book {
  display: flex;
  flex-direction: column;
}

.meta-items, .meta-item {
  display: flex;
  gap: 0.25rem;
  align-items: baseline;
}

.meta-items {
  gap: 1rem;
}

.meta-item dt,
.meta-item dd {
  margin: 0;
}

.meta-list, .tooltip {
  font-size: 0.75em;
}

.hidden {
  display: none !important;
}

.toggle-button {
  background: none;
  border: none;
  color: #0056b3;
  cursor: pointer;
  padding: 0;
  font-size: 0.9rem;
  text-decoration: underline;
}

/* center cover images */

.cover {
  margin-left: auto;
  margin-right: auto;
  border: 0px;
}

/* enable smooth scrolling */
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

/* links */

/* enables a change of cursor when hovering over interactive links */
label,
button,
select,
summary,
[type="radio"],
[type="submit"],
[type="checkbox"] {
  cursor: pointer;
}

.open-lib-link {
  color: #3874a2;
  text-underline-position: under;
}

/* nav bar */

.navbar-brand {
  font-size: xx-large;
  float: left;
}

.navbrand-link {
  display: block;
  text-align: center;
  color: #282a35;
  font-family: "Lucida Handwriting", cursive;
}

.nav-bar {
  position: sticky;
  padding-bottom: 25px;
}

.nav-bar ul {
  background-color: white;
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  width: 100%;
}

.nav-item {
  border-right: 1px solid #282a35;
  float: left;
}

.nav-link {
  display: block;
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  color: #282a35;
  text-decoration: none;
}

.nav-border {
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  box-shadow: 0 -1px 0 black;
  z-index: 1904;
}

.navbar-toggle {
  /* set display to none for toggle unless screen < 600px (see @media screen block) */
  display: none;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  flex-direction: column;
  justify-content: center;
  align-self: flex-end;
  margin-left: auto;
  padding-right: 50px;
  /*padding-left: 20px;*/
}

/* When the screen is less than 600 pixels wide, hide all nav items except branding */
@media screen and (max-width: 600px) {
  .nav-item {
    display: none;
    /* disable set border */
    border-right: none;
  }
  .navbar-toggle {
    display: flex;
  }
}

/* sets the menu toggle bars */
.icon-bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  background-color: #282a35;
}

/* The "responsive" class is added to the navbar with JavaScript when the user clicks on the icon. This class makes the navbar look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .nav-bar.responsive {
    position: relative;
  }
  .nav-item.responsive {
    float: none;
    display: block;
    text-align: left;
    width: 50px;
  }
}

/* tables */

.table-container {
  overflow-x: auto;
}

.table {
  padding: 0.5rem;
  border-bottom-width: 1px;
  border-collapse: collapse;
  table-layout: auto;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.table-header {
  top: 48px;
  background: white;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  border: 1px solid #282a35;
}

tr:nth-child(even) {
  background-color: white;
}

td {
  text-align: center;
  border: solid 1px;
  word-wrap: break-word;
  padding: 5px;
}

.submit-button {
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
}


/* book display on search results */

.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.book-card p, .book-card h3 {
  line-height: 1;
  padding: 0.2rem;
  margin: 0 auto;
}

.book-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;
  text-align: center;
  justify-content:  center;
  padding: 1rem;
  max-width: 100%;
  flex-wrap: wrap;
  padding: 1rem;
}

.book-meta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 60%;
  gap: 0.2rem;
}

.img-wrapper {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 40%;
}

.img-wrapper img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.book-card button {
  align-self: center;
  width: auto;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}
