{% extends "layout.html" %}
{% block main %}
  <h2>About BooksAnon</h2>
<p>
BooksAnon is a web application for recommending books and looking for book recommendations.</p>
Users can recommend a book without entering any personal data. This is a no strings attached book recommendation service and exists for people who just want to share something they've read with others.</p>
<p>The first version of the site was made as a final project for the <a href="https://cs50.harvard.edu/">CS50 course.</a></p>
<p>The code for the application is available on <a href="https://github.com/alexk49/booksanon">github</a>.</p>
{% endblock %}
