{% extends "layout.html" %}
{% block main %}
  <h2>About BooksAnon</h2>
<p>
  BooksAnon serves as a place to recommend a book and look for book
  recommendations. Books are submitted to the database by users, and the
  application asks for no personal data from the user. The first version of the site was made as a 
  final project for the <a href="https://cs50.harvard.edu/">CS50 course.</a></p>
<p>The code for the application is available on <a href="https://github.com/alexk49/booksanon">github</a>.</p>
{% endblock %}
