{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block main%}
<h2>About</h2>
<p>
  BooksAnon serves as a place to recommend a book and look for book
  recommendations. Books are submitted to the database by users, and the
  application asks for no personal data from the user. The site was made as my
  final project for the <a href="https://cs50.harvard.edu/">CS50 course.</a> It is an Open Source
  Application and, if you wish, you can review the code on
  <a href="https://github.com/alexk49/booksanon">github</a>.
</p>
<p>
  The book data is collected from the
  <a href="https://openlibrary.org/">Open Library</a> API. As biblographical
  data can be a little tricky, results are filtered so you will only get results
  in your search if it has a value for:
</p>
<ul>
  <li>Title - as in the book title</li>
  <li>Author - as in a valid book author</li>
  <li>A median number of pages for all editions associated with a work</li>
  <li>A first publish date - as in the first year of publication</li>
  <li>A cover image - as in a cover image of the book</li>
</ul>
<p>
  If your query is vague or just returns a lot of results then, the only the
  first ten valid books will be returned. You then select the one that you would
  like to submit to the database. You can leave a review of the book but only if
  you want to.
</p>
<p>
  Any bugs, or enhancement requests can be submitted via the
  <a href="https://github.com/alexk49/booksanon">github page</a>.
</p>
{% endblock %}
