{% extends "layout.html" %} {% block title %} - Add book{% endblock %}
{% block javascript %}
  <script defer type="module" src="/static/js/add-book.js"></script>
{% endblock %}
{% block main %}
  <h1>Add a book to the site</h1>
  <section id="search">
  <details>
    <summary>Help</summary>
    <p>
      If you search through the <a href="https://www.openlibrary.org">Open Library</a> then your query is sent to the
      <a href="https://openlibrary.org/developers/api">Open Library API</a>. If you select BooksAnon, then only books that have already been added to BooksAnon will appear in your search results.
    <p>Either search will return a maximum of 10 results. You can then verify the
      single book you want to submit to the site and write your review for it.
    </p>
    <p>
      There are a lot of books in the world, so the more specific you can make your
      search query the better your results will be. "Harry Potter and the
      Philosopher's Stone Rowling" is a better search than just "Harry Potter".
    </p>
    <p>You can't save an unfinished review or edit it after submitting!</p>
  </details>
    <form id="search-form" method="post" action="/api/search-openlib">
    <div class="search-form-container">
      <div class="search-field-container">
      <select id="search-provider">
        <option value="/api/search-openlib">Open Library</option>
        <option value="/api/search">BooksAnon</option>
      </select>
      <div class="tooltip">Search where?</div>
    </div>
      <div class="search-field-container">
        <input
          autocomplete="off"
          autofocus
          id="search_query"
          class="search-box"
          name="search_query"
          placeholder="Enter book"
          type="text"
        />
        <div class="tooltip">Search titles, authors, and ISBNs</div>
      </div>
        <input type="hidden" name="csrf_token" class="csrf-token" />
    </div>
    </form>
  </section>
  <section id="results" class="book-grid"></section>
  <section id="review-form" class="hidden">
    <button id="back-btn">← Back</button>
    <div id="review-card-container" class="book-grid"></div>
    <h2 id="review-title">Review</h2>
    <div id="review-form-errors"></div>
    <form id="submit-form" method="post" action="/submit_book">
      <textarea
        name="review"
        rows="6"
        cols="50"
        placeholder="Write your review here..."
      ></textarea
      ><br />
      <div id="text-counter" class="tool-tip"></div>
      <button type="submit">Submit Review</button>
      <input type="hidden" name="openlib_id_hidden" id="openlib-id-hidden" />
      <input type="hidden" name="csrf_token" class="csrf-token" />
    </form>
  </section>
{% endblock %}
