{% extends "layout.html" %}
  {% block title %} - Add book{% endblock %}
  {% block javascript %}<script defer type="module" src="/static/js/add-book.js"></script>{% endblock %}

{% block main %}
    <h1>Add a book to the site</h1>
      <p>
      This search uses the
      <a href="https://www.openlibrary.org">Open Library</a> for results. There
      are a lot of books in the world, so the more specific you can make your
      search query the better your results will be. "Harry Potter and the Philosopher's
      Stone Rowling" is a better search than just "Harry Potter".
    </p>
    <p>
      This form submits your query to the
      <a href="https://openlibrary.org/developers/api">Open Library API</a> and,
      it will return a maximum of 10 results. Then you can then
      verify the single book you want to submit to the site, and write your review for it.
    </p>
  <form id="search-form" method="post" action="/search_books">
    <div class="search-field">
      <input
        autocomplete="off"
        autofocus
        id="search_query"
        name="search_query"
        placeholder="Enter book"
        type="text"
      />
      <input type="submit" name="Search" value="Search" />
      <input type="hidden" name="csrf_token" class="csrf-token"> 
      <div class="tooltip">
        title, author, ISBN etc.
      </div>
    </div>
  </form>
  <div id="results" class="book-grid"></div>
  <div id="review-form" class="hidden">
  <button id="back-btn">← Back</button>
    <div id="review-card-container" class="book-grid"></div>
    <h2 id="review-title">Review</h2>
    <form id="submit-form" method="post" action="/submit_book">
      <textarea name="review" rows="6" cols="50" placeholder="Write your review here..."></textarea><br>
      <button type="submit">Submit Review</button>
      <input type="hidden" name="openlib_id_hidden" id="openlib-id-hidden"> 
      <input type="hidden" name="csrf_token" class="csrf-token"> 
    </form>
  </div>
{% endblock %}
