{% extends "layout.html" %}{% block title %} - Author{% endblock %}
{% block main %}{% if author %}
  <article class="author">
    <header>
      <h2>{{ author.name }}</h2>
    </header>
    <section>
      <p>Born: {{ author.birth_date }}</p>
      <p>Died: {{ author.death_date }}</p>
    </section>
    {% if books %}
      <section>
        <h3>Works by {{ author.name }}</h3>
        {% for book in books %}
          {% include "partials/single_book.html" %}
          {% if book.reviews %}
          {% for review in book.reviews %}
            <section>
              <article class="review">
                <div class="review-content-container">
                <h3>
                  <a href="/review/{{ book.reviews[0].id }}">Review</a> –
                  submitted {{ review.created_at }}
                </h3>
                    <span class="review-content"> {{ review.content }}</span>
                </div>
              </article>
            </section>
            {% endfor %}
            {% endif %}
        {% endfor %}
      </section>
      {% endif %}
  </article>
{% else %}
  <p>No author found.</p>
{% endif %}{% endblock %}
