{% extends "layout.html" %}
{% block main %}{% if author %}
  <article class="author">
    <header>
      <h2>{{ author.name }}</h2>
    </header>
    <section>
      <p>Born: {{ author.birth_date }}</p>
      <p>Died: {{ author.death_date }}</p>
    </section>
    {% if books %}
      <section>
        <h3>Works by {{ author.name }}</h3>
        {% for book in books %}
          {% include "partials/single_book.html" %}
          {% if book.reviews %}
            <section>
              <article class="review">
                <h3>
                  <a href="/review/{{ book.reviews[0].id }}">Review</a> –
                  submitted {{ book.reviews[0].created_at }}
                </h3>
                <p>{{ book.reviews[0].content }}</p>
              </article>

              {% if book.reviews|length > 1 %}
                <details class="inline-details">
                  <summary>View more reviews</summary>
                  {% for review in book.reviews[1:] %}
                    <article class="review">
                      <h3>
                        <a href="/review/{{ review.id }}">Review</a> – submitted
                        {{ review.created_at }}
                      </h3>
                      <p>{{ review.content }}</p>
                    </article>
                  {% endfor %}
                </details>
              {% endif %}
            </section>
          {% endif %}
        {% endfor %}
      </section>
    {% endif %}
  </article>
{% else %}
  <p>No author found.</p>
{% endif %}{% endblock %}
