{% extends "layout.html" %}{% block title %} - Book{% endblock %}
{% block main %}{% if book %}
  {% include "partials/single_book.html" %}
  {% if reviews %}
    {% for review in reviews %}
      <article class="review">
        <div class="review-content-container">
        <h3>
          <a href="/review/{{ review.id }}">Review</a> - submitted
          {{ review.created_at }}
        </h3>
        <span class="review-content"> {{ review.content }} </span>
        </div>
      </article>
    {% endfor %}
  {% endif %}
{% else %}
  <p>No book found.</p>
{% endif %}{% endblock %}
