{% extends "layout.html" %}
{% block main %}{% if book %}
  {% include "partials/single_book.html" %}
  {% if reviews %}
    {% for review in reviews %}
      <article class="review">
        <h3>
          <a href="/review/{{ review.id }}">Review</a> - submitted
          {{ review.created_at }}
        </h3>
        <section class="review-content">
          <p>{{ review.content }}</p>
        </section>
      </article>
    {% endfor %}
  {% endif %}
{% else %}
  <p>No book found.</p>
{% endif %}{% endblock %}
