{% extends "layout.html" %}
{% block javascript %}
    <script src="{{ url_for('static',filename='search.js') }}"></script>
{% endblock %}

{% block title %}
    History
{% endblock %}

{% block main %}
<h2>History</h2>
<p>You can use the available filters to sort through and view books that have been recommended via this site. The default view is the current top ten most recommended titles.</p>
<form action="/history" method="post">
    <select name="filter">
        <option value="{{ current_selection }}">{{ current_selection }}</option>
        {% for filter in filters %}
            {% if filter != current_selection %}
            <option value="{{ filter }}">{{ filter }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <button type="submit">Submit</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Cover
            </th>
            <th>
                Title
            </th>
            <th>
                Author
            </th>
            <th>
                Publication date
            </th>
               {% if books[0].review is defined %}
                <th>Review</th>
               {% else %}
                <th>Count</th>
               {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>
                <img class="cover" src="{{ book["cover_id"] }}" alt="Book cover">                
            </td>
        <td>
            <a class="open-lib-link" href="https://openlibrary.org{{ book["work_key"] }}">{{ book["title"] }}</a>
        </td>
        <td>
            {{ book["author"] }}
        </td>
        <td>
            {{ book["pub_year"] }}
        </td>
           {% if book.review is defined %}
           <td>{{ book["review"] }}</td>
           {% else %}
           <td>{{ book["count(title)"] }}</td>
           {% endif %}        
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
