{% extends "layout.html" %}
{% block javascript %}
    <script src="{{ url_for('static',filename='review.js') }}"></script>
{% endblock %}
{% block title %}
    Recommend
{% endblock %}

{% block main %}
<h2>Recommend a book</h2>    
<div class="query">
<form action="/recommend" method="post">
    <li>Search via:</li>
    <p>This search uses the <a href="https://www.openlibrary.org">Open Library</a> for results. There are a lot of books in the world, so the more specific you can make your search query the better your results will be.</p>
    <p>This form submits your query to the <a href="https://openlibrary.org/developers/api">Open Library API</a> and, it will return a maximum of 10 results. On the next page you can then verify the single book you want to submit to the database.</p>
    <input class="search-via" name="search-via" type="radio" value="isbn" checked="checked"> 
    <label for="isbn">ISBN</label>
    <p>If you have the physical book you want to recommend in front of you then you can find the ISBN on the bar code or in the front matter. This is the easiest way to make sure you get the result you want.</p>
   <input class="search-via" name="search-via" type="radio" value="title" checked="checked"> 
    <label for="title">Title</label>
    <p>Remember the more specific the better! "Harry Potter and the Philosopher's Stone" is a better search than just "Harry Potter".</p>
    <input class="search-via" name="search-via" type="radio" value="general" checked="checked"> 
    <label for="general">General Query</label>
    <p>General query means you can just add general search terms for example Harry Potter Philosopher's Stone JK Rowling.</p>
    {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}</p>
    {% endif %}
    <input autocomplete="off" autofocus class="search-term" name="search-term" placeholder="Enter book" type="text">
    <button class="search" id="search" type="search">Validate book</button>
    </form>
</form>
</div>
{% endblock %}

