{% extends "layout.html" %}
{% block css %} 
    <link href="/static/recommend.css" rel="stylesheet">
{% endblock %}
{% block javascript %}
    <script src="{{ url_for('static',filename='review.js') }}"></script>
{% endblock %}
{% block title %}
    Recommend
{% endblock %}

{% block main %}
<h2>Recommend a book</h2>    
<div class="query">
<form action="/recommend" method="post">
    <p>This search uses the <a href="https://www.openlibrary.org">Open Library</a> for results. There are a lot of books in the world, so the more specific you can make your search query the better your results will be.</p>
    <p>This form submits your query to the <a href="https://openlibrary.org/developers/api">Open Library API</a> and, it will return a maximum of 10 results. On the next page you can then verify the single book you want to submit to the database.</p>
    <p>If you have the physical book you want to recommend in front of you then you can find the ISBN on the bar code or in the front matter. This is the easiest way to make sure you get the result you want.</p>
    <p>Remember the more specific the better! "Harry Potter and the Philosopher's Stone Rowling" is a better search than just "Harry Potter".</p>
    {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}</p>
    {% endif %}
    <div class="search-field">
    <input autocomplete="off" autofocus class="search-term" name="search-term" placeholder="Enter book" type="text">
    <input id="search-button" type="submit" name="Search" value="Search">
    <div class="example">
        <li>title, author, ISBN etc.</li>
    </div>
    </div>
    </form>
</form>
</div>
{% endblock %}

