{% extends "layout.html" %}
{% block main %}
  <article class="book-review">
    <header>
      <h3><a href="book/{{ review.book_id }}">{{ review.book.title }}</a></h3>
      <p>
        By
        {% for author in review.book.authors %}
          <a href="/author/{{ author.id }}">{{ author.name }}</a
          >{% if not loop.last %}
            ,
          {% endif %}
        {% endfor %}
      </p>
    </header>
    <section>
      <h4>Review</h4>
      <p>{{ review.content }}</p>
      <dl>
        <div class="meta-items">
          <div class="meta-item">
            <dt><strong>First published:</strong></dt>
            <dd>{{ review.book.first_publish_year }}</dd>
          </div>

          <div class="meta-item">
            <dt><strong>Pages:</strong></dt>
            <dd>{{ review.book.number_of_pages_median }}</dd>
          </div>
        </div>

        <dt><strong>Publishers:</strong></dt>
        <dd class="meta-list">
          {% set pubs = review.book.publishers_display %}
          {% if pubs %}
            {{ pubs|join(', ') }}
          {% else %}
            Unknown publisher
          {% endif %}
        </dd>

        <dt><strong>OpenLib Tags:</strong></dt>
        <dd class="meta-list">
          {% set tags = review.book.tags_display %}
          {% if tags %}
            {{ tags|join(', ') }}
          {% else %}
            No tags
          {% endif %}
        </dd>

        <dt><strong>Link outs:</strong></dt>
        <dd>
          {% for link in review.book.link_outs %}
            <a href="{{ link.url }}">{{ link.text }}</a>
          {% endfor %}
        </dd>
      </dl>
    </section>
    <footer>
      <small>First added: {{ review.created_at }}</small>
    </footer>
  </article>
{% endblock %}
