{% extends "layout.html" %}
{% block javascript %}
    <script src="{{ url_for('static',filename='search.js') }}"></script>
{% endblock %}

{% block title %}
    Search
{% endblock %}

{% block main %}
<h2>Search</h2>
<p>You can search via title for any book in the database.</p>
<input class="search" id="search" autocomplete="off" autofocus placeholder="Search" type="text">
<table class="table">
    <thead class="search-history">
        <tr>
        <th id="cover">
        </th>
    <th id="title">
    </th>
    <th id="author">
    </th>
    <th id="date">
    </th>
    <th id="review">
    </th>
</tr>
</thead>
<tbody id="results">
</tbody>
</table>
{% endblock %}
