{% extends "layout.html" %}

{% block css %}
<link href="/static/submit.css" rel="stylesheet">
{% endblock %}
{% block javascript %}
    <script src="{{ url_for('static',filename='submit.js') }}"></script>
{% endblock %}
{% block title %}
    Submit
{% endblock %}

{% block main %}
<h2>Submit</h2>
<p>These are your results from your query, please verify which one you would like to submit.</p>
<div class="submit">
<form action="/submit" method="post" >
<table class="table">
    <thead class="table-header">
        <tr>
           <th>
                Select
           </th>
           <th>
                Cover
            </th>
            <th>
                Title
            </th>
            <th>
                Author/s
            </th>
            <th>
                Publication date
            </th>
            <th>
                Number of pages
            </th>
        </tr>
    </thead>
 <tbody>
        {% for result in results %}
        <tr>
         <td>
            <input class="select" name="select" type="radio" value="{{ loop.index }}"> 
            <label for="{{ loop.index }}">Option {{ loop.index }}</label>
        </td>
        <td>
                <img class="cover" src="{{ result["cover_id"] }}" alt="Book cover">                
            </td>
        <td>
            <a class="open-lib-link" href="https://openlibrary.org{{ result["work_key"] }}">{{ result["title"] }}</a>
        </td>
        <td>
            {{ result["author"] }}
        </td>
        <td>
            {{ result["pub_date"] }}
        </td>
        <td>
            {{ result["num_of_pages"] }}
        </td>
               </tr>
        {% endfor %}
    </tbody>
</table>
    <p>Would you like to leave a review?</p>
    <input class="review-button" id="yes-review-button" name="review-button" type="radio" value="yes" onclick="review:show_hide_review_box();"> 
    <label for="yes">Yes</label> 
    <input class="review-button" id="no-review-button" name="review-button" type="radio" checked="checked" value="no" onclick="review:show_hide_review_box();">
    <label for="no">No</label></br> 
    {% if error  %}
    <p class="error"><strong>Error:</strong> {{ error }}</p>
    {% endif %}
    <!-- <input autocomplete="off" class="review-box" id="review-box" name="review-box" placeholder="Enter review" type="text"> !-->
    <textarea name="review-box" class="review-box" id="review-box" rows="10" cols="75" wrap="soft" maxlength="500" placeholder="Enter review (max 500 characters)"></textarea>
    <div id="counter" class="counter"></div>
    <input id="submit-button" class="submit-button" name="submit" type="submit" value="Submit">
</form>
    </div>
{% endblock %}
